<html>
<head><title>Not Authorized</title></head>
<body bgcolor="#FFFFFF" style="font-family: Verdana, Arial, sans-serif; font-size: 11px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr><td bgcolor="#DDDDD0" height="22">&nbsp;<b>Member Servicing</b></td></tr>
</table>
<br>
<!-- A refusal the application means: 200 with a banner, like "No records found".
     The caller gets a named outcome, not an exception. -->
<table cellpadding="4" cellspacing="0" border="0" bgcolor="#F4E0E0" width="100%">
  <tr><td id="ctl00_MainContent_lblNotAuthorized"><b>You are not authorized to service member {{ member_id }}.</b> Contact the branch supervisor.</td></tr>
</table>
<br>
<a href="/console/content">Return to search</a>
</body>
</html>
